<!DOCTYPE html>
<html>
<head>
    <title>Parser</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h2>IP Address: <%= ip %></h2>
    <h2>Language: <%= lang %></h2>
    <h2>Operating System: <%= os %></h2>
</body>
</html>